body{
    padding: 100px;
}
.bank-title{
    text-align: center;
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 40px;
}
#transaction-area{
    display: none;
    margin-top: 100px;
}
.deposit{
    background-color: slateblue;
    margin: 0px 20px;
    color: white;
    border-radius: 10px;
    padding: 25px;
}
.withdraw{
    background-color: lightsalmon;
    margin: 0px 20px;
    color: white;
    border-radius: 10px;
    padding: 25px;
}
.balance{
    background-color: orange;
    margin: 0px 20px;
    color: white;
    border-radius: 10px;
    padding: 25px;
}

